@use '../../tokens/layout';

.DataPanel {
    &__container {
        display: flex;
        gap: layout.$padding--large;

        height: 90%;
        width: 100%;

        > div {
            flex: 1 1 50%;
        }
    }
}

.ManualScatter, .SpaceTreemap {
    width: 100%;
    height: 100%;
}
