@import "primereact/resources/themes/viva-dark/theme.css";
@import 'primeicons/primeicons.css';


html, body {
    margin: 0;
    padding: 0;
}

.App {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.p-panel {
    display: flex;
    flex-direction: column;

    &-content, .p-toggleable-content {
        height: 100%;
    }
}

@import './Components/Layout';
@import './Components/DataPanel';
@import './Components/LoadModal';
@import './Components/MenuBar';
@import './Components/SelectionPanel';
@import './Components/SpeckleViewer';
